/* stylelint-disable block-opening-brace-newline-after */
/* stylelint-disable indentation */
/* stylelint-disable no-eol-whitespace */
body {  
      color: rgb(255, 255, 255);
      background-color: rgb(54, 25, 25);
}

h1 {
    display: flex;
    justify-content: center;
}

aside {
    width: 70%;
    padding-left: 80px;
}
